<mat-card *ngIf="!isStarted" class="container">
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</mat-card>

<mat-card *ngIf="isStarted" class="container">
    <td>
        <form [formGroup]="chatSearchForm">
            <mat-form-field>
                <input matInput placeholder="Novo tópico" formControlName="room">
            </mat-form-field>

            <button mat-fab (click)="openChatRoom()"><mat-icon>add</mat-icon></button>
        </form>
    </td>
</mat-card>