<mat-card *ngIf="!isStarted" class="container">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>

<mat-card *ngIf="isStarted" class="container">
  <form [formGroup]="clientForm" (ngSubmit)="onClientFormSubmit()">
    <mat-card-header>
      <mat-card-title>Cadastro de cliente</mat-card-title>
      <mat-card-subtitle>Dados mínimos</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome" type="text" formControlName="name" required>
      </mat-form-field>

      <div class="flex">
        <mat-radio-group formControlName="gender">
          <mat-label>Gênero *</mat-label>
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Feminino">Feminino</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline">
          <mat-label>Nascimento</mat-label>
          <input matInput placeholder="Digite ou clique no ícone" formControlName="birthday" [textMask]="{mask: mask.date, pipe: autoCorrectedDatePipe}"
            required>
        </mat-form-field>
      </div>
    </mat-card-content>
  
    <form [formGroup]="clientDocumentForm">
      <mat-card-header>
        <mat-card-subtitle>Documentos</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <div class="flex">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Tipo">
              <mat-option *ngFor="let document of documents" [value]="document._id">
                {{ document._data.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <section class="checkbox">
            <mat-label>Checkboxes</mat-label>
            <mat-checkbox>Checked</mat-checkbox>
            <mat-checkbox>Indeterminate</mat-checkbox>
          </section>
        </div>
      </mat-card-content>
    </form>
  </form>
  
  <mat-card-actions>
    <div class="flex">
      <button mat-raised-button disabled="clientForm.invalid">{{submitButton}}</button>
    </div>
  </mat-card-actions>
</mat-card>
