<mat-card *ngIf="!isStarted" class="container">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>

<mat-card *ngIf="isStarted" class="container">
  <mat-card-header>
    <mat-card-title>Cadastro de cliente</mat-card-title>
    <mat-card-subtitle>Tipo de cliente</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-radio-group (change)="clientTypeChoice($event)">
      <mat-radio-button value="person">Pessoa</mat-radio-button>
      <mat-radio-button value="company">Empresa</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>

  <form [formGroup]="personForm" (ngSubmit)="onPersonFormSubmit()" *ngIf="this.clientType === 'person'">
    <mat-card-header>
      <mat-card-subtitle>Dados mínimos</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome do cliente" type="text" formControlName="name" required>
      </mat-form-field>

      <div class="flex">
        <mat-radio-group formControlName="gender">
          <mat-label>Gênero *</mat-label>
          <mat-radio-button value="Masculino">Masculino</mat-radio-button>
          <mat-radio-button value="Feminino">Feminino</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline">
          <mat-label>Nascimento</mat-label>
          <input matInput placeholder="Digite o aniversário do cliente" formControlName="birthday" [textMask]="{mask: mask.date, pipe: autoCorrectedDatePipe}">
        </mat-form-field>
      </div>

      <div class="flex">
        <section id="document">
          <button mat-raised-button type="button" (click)="addDocument()">Adicionar documento</button>
          <mat-card-content *ngIf="documentsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Documentos adicionados</mat-card-subtitle>
            </mat-card-header>

            <mat-card *ngFor="let document of documentsObject; let i = index;">
              <div class="flex">
                <section>
                  {{document.type}} - {{document.value}}
                  <div *ngIf="document.makingDate != '' || document.validityDate != ''">
                    <div>
                      <span *ngIf="document.makingDate != ''" class="subtext">Emissão: {{document.makingDate}}</span>
                      <span *ngIf="document.validityDate != ''" class="subtext">Validade: {{document.validityDate}}</span>
                    </div>
                  </div>
                </section>

                <section class="action-icon">
                  <a (click)="deleteDocument(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>

        <section id="contact">
          <button mat-raised-button type="button" (click)="addContact()">Adicionar contato</button>
          <mat-card-content *ngIf="contactsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
            </mat-card-header>

            <mat-card *ngFor="let contact of contactsObject; let i = index;">
              <div class="flex">
                <section>
                  {{contact.type}} - {{contact.value}}
                </section>

                <section class="action-icon">
                  <a (click)="deleteContact(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>


        <!-- <section class="checkbox">
          <mat-label>Checkboxes</mat-label>
          <mat-checkbox>Checked</mat-checkbox>
          <mat-checkbox>Indeterminate</mat-checkbox>
        </section> -->
      </div>

      <section id="address">
        <button mat-raised-button type="button" (click)="addAddress()">Adicionar endereço</button>
        <mat-card-content *ngIf="addressesObject.length > 0">
          <mat-card-header>
            <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
          </mat-card-header>

          <mat-card *ngFor="let address of addressesObject; let i = index;">
            <div class="flex">
              <section>
                {{address.type}} - {{address.value}}
              </section>

              <section class="action-icon">
                <a (click)="deleteAddress(i)">
                  <mat-icon>delete</mat-icon>
                </a>
              </section>
            </div>
          </mat-card>
        </mat-card-content>
      </section>
    </mat-card-content>

    <mat-card-actions>
      <div class="flex">
        <button mat-raised-button [disabled]="personForm.invalid">{{submitButton}}</button>
      </div>
    </mat-card-actions>
  </form>

  <form [formGroup]="companyForm" (ngSubmit)="onCompanyFormSubmit()" *ngIf="this.clientType === 'company'">
    <mat-card-header>
      <mat-card-subtitle>Dados mínimos</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Nome fantasia</mat-label>
        <input matInput placeholder="Digite o nome fantasia do cliente" type="text" formControlName="business_name" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Razão social</mat-label>
        <input matInput placeholder="Digite a razão social do cliente" type="text" formControlName="company_name" required>
      </mat-form-field>

      <div class="flex">
        <section id="document">
          <button mat-raised-button type="button" (click)="addDocument()">Adicionar documento</button>
          <mat-card-content *ngIf="documentsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Documentos adicionados</mat-card-subtitle>
            </mat-card-header>

            <mat-card *ngFor="let document of documentsObject; let i = index;">
              <div class="flex">
                <section>
                  {{document.type}} - {{document.value}}
                  <div *ngIf="document.makingDate != '' || document.validityDate != ''">
                    <div>
                      <span *ngIf="document.makingDate != ''" class="subtext">Emissão: {{document.makingDate}}</span>
                      <span *ngIf="document.validityDate != ''" class="subtext">Validade: {{document.validityDate}}</span>
                    </div>
                  </div>
                </section>

                <section class="action-icon">
                  <a (click)="deleteDocument(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>

        <section id="contact">
          <button mat-raised-button type="button" (click)="addContact()">Adicionar contato</button>
          <mat-card-content *ngIf="contactsObject.length > 0">
            <mat-card-header>
              <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
            </mat-card-header>

            <mat-card *ngFor="let contact of contactsObject; let i = index;">
              <div class="flex">
                <section>
                  {{contact.type}} - {{contact.value}}
                </section>

                <section class="action-icon">
                  <a (click)="deleteContact(i)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </section>
              </div>
            </mat-card>
          </mat-card-content>
        </section>


        <!-- <section class="checkbox">
            <mat-label>Checkboxes</mat-label>
            <mat-checkbox>Checked</mat-checkbox>
            <mat-checkbox>Indeterminate</mat-checkbox>
          </section> -->
      </div>

      <section id="address">
        <button mat-raised-button type="button" (click)="addAddress()">Adicionar endereço</button>
        <mat-card-content *ngIf="addressesObject.length > 0">
          <mat-card-header>
            <mat-card-subtitle>Contatos adicionados</mat-card-subtitle>
          </mat-card-header>

          <mat-card *ngFor="let address of addressesObject; let i = index;">
            <div class="flex">
              <section>
                {{address.type}} - {{address.value}}
              </section>

              <section class="action-icon">
                <a (click)="deleteAddress(i)">
                  <mat-icon>delete</mat-icon>
                </a>
              </section>
            </div>
          </mat-card>
        </mat-card-content>
      </section>
    </mat-card-content>

    <mat-card-actions>
      <div class="flex">
        <button mat-raised-button [disabled]="companyForm.invalid">{{submitButton}}</button>
      </div>
    </mat-card-actions>
  </form>

</mat-card>
