<h2 mat-dialog-title>Adicionar documento</h2>

<div class="flex">  
  <mat-form-field appearance="outline">
    <mat-select placeholder="Tipo de documento *" #documentType>
      <mat-option *ngFor="let document of data.documents" [value]="document._data.mask">
        {{ document._data.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput placeholder="Identificador do documento" type="text" 
      #documentValue 
      [textMask]="{mask: data.mask[this.documentType?.value]}" required>
    </mat-form-field>
</div>

<div class="flex">
  <mat-form-field appearance="outline">
    <mat-label>Data de emissão</mat-label>
    <input matInput placeholder="Digite data" 
    [textMask]="{mask: data.mask.date, pipe: data.autoCrrectedDatePipe}" 
    #documentMakingDate>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data de validade</mat-label>
    <input matInput placeholder="Digite data" 
    [textMask]="{mask: data.mask.date, pipe: data.autoCrrectedDatePipe}" 
    #documentValidityDate>
  </mat-form-field>
</div>

<div class="flex">
  <button *ngIf="this.documentType.value" mat-button [mat-dialog-close]="{
    type: this.documentType.value,
    value: this.documentValue.value,
    makingDate: this.documentMakingDate.value,
    validityDate: this.documentValidityDate.value
  }" [disabled]="!this.documentType.value || (this.documentValue.value.length < 3)">Adicionar</button>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
</div>
