#cnpj {
    width: 50%;
}

#cpf {
    width: 50%;
}

section button {
    margin-bottom: 20px;
}

.action-icon { 
    width: 10%;
    cursor: pointer;
}

.subtext {
    font-size: 10px;
    margin-right: 10px;
}

@media screen and (max-width:480px){
    #cnpj {
        width: 100%;
    }

	#cpf {
        width: 100%;
    }
}