#cnpj {
    width: 50%;
}

section button {
    margin-bottom: 20px;
}

.action-icon { 
    width: 10%;
    cursor: pointer;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.dialog-title {
    font-size: large;
}

.subtext {
    font-size: 10px;
    margin-right: 10px;
}

@media screen and (max-width:480px){
	#cnpj {
        width: 100%;
    }
}