<div class="general-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="header-toolbar">
    <div id="header-content">
      <div>
        <button mat-icon-button (click)="snav.toggle()" *ngIf="userData">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      
      <div>
        <span *ngIf="userData && userData[0]['userType'] == 'people'" style="font-size: small">
          {{user?.name.split(' ')[0]}}
        </span>
  
        <span *ngIf="userData && userData[0]['userType'] == 'companies'" style="font-size: small">
          {{user?.business_name}}
        </span>

        <mat-menu #appMenu="matMenu" yPosition="below">
          <a mat-menu-item routerLink="" class="menu-item">Almoxarifado</a>
          <a mat-menu-item routerLink="/crm" class="menu-item">CRM</a>
          <a mat-menu-item routerLink="/cash-flow" class="menu-item">Fluxo de caixa</a>
          <a mat-menu-item routerLink="/system" class="menu-item">Sistema</a>
        </mat-menu>

        <button *ngIf="params.views && userData" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>view_module</mat-icon>
        </button>

        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="options.opened" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="options.fixed"
      [fixedTopGap]="options.top" [fixedBottomGap]="options.bottom">
      <mat-nav-list>
        <span class="app-title" (click)="_router.navigate(['/main'])">Belamondo</span><br />
        <span class="app-name" (click)="_router.navigate(['/main'])">{{params.title}}</span> <hr />
        <!--
        <mat-card *ngIf="options.userCard">
          <span *ngIf="userData[0]['userType'] == 'people'">
            {{user?.name.split(' ')[0]}}
          </span>

          <span *ngIf="userData[0]['userType'] == 'companies'">
            {{user?.business_name}}
          </span>
          <div>
            <a routerLink="/user">
              <mat-icon mat-list-icon>person</mat-icon>
            </a>
            <a routerLink="/settings">
              <mat-icon>settings</mat-icon>
            </a>
            <a href="https://www.google.com/">
              <mat-icon>help</mat-icon>
            </a>
            <a class="pointer" (click)="logout()">
              <mat-icon>settings_power</mat-icon>
            </a>
          </div>
        </mat-card>
        -->
        <ng-template ngFor let-view [ngForOf]="params.views" let-even="even" let-odd="odd" let-rowIndex="index">
          <a mat-list-item [routerLink]="view.link" routerLinkActive="active-link" (click)="mobile ? snav.close() : {}">
            <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
            <span mat-line style="font-size: small; font-weight: bold; margin-bottom: 5px;">{{view.name}}</span>
            <span mat-line style="font-size: small; color: gray;">{{view.description}}</span>
          </a>
        </ng-template>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
