a {
  cursor: pointer;
}

h1{
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}

.action-button-area {
  position: absolute;
  margin-top: -20px;
  right: 30px;
}

.icon {
  float: right;
}

.link-disable {
  cursor: default;
  color: lightgray;
}

.search {
  width: 80%;
}

.tbl-header{
  background-color: #fff;
}

.tbl-body{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(247, 247, 247)
}

.tbl-content{
  max-width: 1024px;
  /*max-height:300px;*/
  overflow-x:auto;
  margin: auto;
  margin-top: 0px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  
}

.tbl-footer{
  background-color: #fff;
  border-radius: 3px;
}

.tbl-footer td:nth-child(1) {
  width: 20px;
}

.tbl-footer td:nth-child(2) {
  width: 20px;
}

.tbl-footer td:nth-child(3) {
  width: 100px;
}

.tbl-footer td:nth-child(4) {
  width: 100%;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 900;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: solid 1px rgba(34, 21, 21, 0.1);
}

thead {
  background: rgb(247, 247, 247);
  border-bottom: solid 1px rgba(34, 21, 21, 0.1);
}

tbody {
  background: white;
}

tbody tr:hover {
  background: rgb(247, 247, 247);
  color: white;
}

tfoot {
  background: rgb(247, 247, 247);
}

/* demo styles */

/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);*/
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}