<div *ngIf="params && params.list.pageSize">  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let columnDef of params?.list.show; let showI = index;" [matColumnDef]="columnDef">
      <th mat-header-cell *matHeaderCellDef> {{params?.list.header[showI]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[columnDef]}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="params?.list.show"></tr>
    <tr mat-row *matRowDef="let row; columns: params?.list.show;"></tr>
  </table>
  
  <mat-paginator [length]="params?.list.dataSource.length"
                [pageSize]="params?.list.pageSize"
                [pageSizeOptions]="params?.list.pageSizeOptions"
                showFirstLastButtons
                class="mat-elevation-z8">
  </mat-paginator>
</div>
