<div class="tbl-header">
  <div class="action-button-area"  style="margin-top: -20px;" *ngIf="params.header.actionIcon">
    <button mat-mini-fab *ngFor="let icon of params.header.actionIcon ; let i = index;" (click)="onTableDataOutput($event)">
      <mat-icon>{{icon.icon}}</mat-icon>
    </button>
  </div>

  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th *ngFor="let show of params.list.show; let headerId = index">
          {{show['header']}}
          <i class="material-icons" (click)="sort($event, headerId)">filter_list</i>
        </th>
      </tr>
    </thead>
  </table>
</div>

<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <div *ngIf='dataSource.length > 0'>
        <tr *ngFor="let data of dataSource">
          <td *ngFor="let show of params.list.show">{{data[show['field']]}}</td>
        </tr>
      </div>

      <div *ngIf='dataSource.length < 1'>
        Nenhum dado cadastrado.
      </div>
    </tbody>
  </table>
</div>

<div class="tbl-footer">
  <table cellpadding="0" cellspacing="0" border="0">
    <tfoot>
      <tr>
        <td>
          <a>
            <mat-icon *ngIf="currentPage > 1" (click)="setLimitOverPage(currentPage-1)">keyboard_arrow_left</mat-icon>
          </a>
        </td>

        <td>
          <a>
            <mat-icon *ngIf="currentPage < lastPage" (click)="setLimitOverPage(currentPage+1)">keyboard_arrow_right</mat-icon>
          </a>
        </td>

        <td>
          <form [formGroup]="tableFooterForm">
            <mat-form-field>
              <mat-select placeholder="Nº de linhas" formControlName="numberOfLines" (selectionChange)="setLimit()">
                <mat-option *ngFor="let n of params.footer.numberOfLines" value="{{n}}">
                <p> {{ n }}</p> 
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </td>

        <td>
          <form [formGroup]="tableSearchForm">
            <mat-form-field>
              <mat-label>Filtrar</mat-label>
              <input matInput placeholder="Digite filtro" type="text" formControlName="search" (keyup)="searchOverAll()">
            </mat-form-field>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>
</div>